.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*---nav---*/
.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.nav-manu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-manu a{
    padding: 5px 10px;
    margin: 10px;
}
/*--end ---nav--*/

/*---profile--*/
.profile-dis p{
    margin-top: 10px;
    text-align: center;
}
.pr-2{
    margin-bottom: 15px;
}
/*-ends--profile-*/

/*---about---*/
.about-icon{
    text-align: left;
}
.about-icon img{
    margin-top: 100px;
    height: 320px;
    width: 320px;
    justify-content: center;
    align-items: center;
}
.about-dis p{
    text-align: left;
}
/*--end about--*/

/*---services--*/
.crad{
    width: 100%;
    height: 450px;
}
/*--ends-services--*/
/*--contac---a*/

.contac-frm{
    text-align: left;
}
.contac-link{
    margin-top: 150px;
    
}
.contac-link .btn{
    margin: 20px;
}

/*---ends--contac--*/